* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
    --bg-color: #f5f5f5;
    --bg-color-secondary: #ebebeb;
    --text-color: #000000;
    --border-gradient-color: #b9b9b9;
    --text-contrast-color: #4167ef;
    --text-color-ul-hover: #464646;
    --bg-color-switch: #444452;
    --box-shadow-color: rgba(0, 0, 0, 0.418);
}

.dark {
    --bg-color: #141924;
    --bg-color-secondary: #13161d;
    --text-color: #ffffff;
    --text-color-ul-hover: #d4d4d4;
    --bg-color-switch: #a8e256;
    --box-shadow-color: #4d4d4d73;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
    background-color: #858585;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
    border-radius: 2px;
}

body {
    background-color: var(--bg-color);
    width: 100%;
}

.container {
    font-family: "Lato", sans-serif;
    color: var(--text-color);
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: var(--bg-color);
    width: 100%;
}

header ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

header ul li a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
    position: relative;
    transition: all 0.2s ease-in-out;
}

header ul li a::after {
    content: "";
    width: 0%;
    height: 0.1rem;
    background-color: var(--text-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

header ul li a:hover {
    color: var(--text-color-ul-hover);
}

header ul li a:hover::after {
    width: 100%;
}

nav .nav-wrapper {
    display: flex;
    align-items: center;
    margin: 1.8rem 6rem;
}

.nav-wrapper .logo-wrapper {
    flex: 1;
}

.nav-wrapper .logo-link {
    text-decoration: none;
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    display: flex;
    width: max-content;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-wrapper .logo-link:hover .last-code {
    animation: moveToRight 0.5s ease-in-out;
}

.nav-wrapper .logo-color {
    color: var(--text-contrast-color);
}

@keyframes moveToRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(0.3rem);
    }

    100% {
        transform: translate(0);
    }
}

.flags {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 3rem;
    cursor: pointer;
}

.flags .br-flag {
    height: 2rem;
    display: flex;
    border-radius: 0.6rem;
}

.flags .uk-flag {
    height: 2rem;
    display: flex;
    border-radius: 0.6rem;
    position: absolute;
    top: -0.4rem;
    right: -0.5rem;
    z-index: -1;
}

.switch-wrapper {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-left: 3rem;
}

.ph-sun,
.ph-moon {
    font-size: 1.7rem;
}

.toggle-wrapper {
    position: relative;
}

.toggle-wrapper span {
    display: block;
    width: 4.5rem;
    height: 2.5rem;
    border-radius: 99rem;
    background-color: var(--bg-color-switch);
    cursor: pointer;
}

.dark .toggle-wrapper span {
    background-color: var(--bg-color-switch);
    transition: background 0.1s ease-in-out;
}

.toggle-wrapper button {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: 0;
    background-color: #fff;
    top: 50%;
    left: 0.4rem;
    transform: translateY(-53%);
    cursor: pointer;
    animation: slide-back 0.2s;
}

.dark .toggle-wrapper button {
    animation: slide-in 0.2s forwards;
}

@keyframes slide-in {
    from {
        left: 0.4rem;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }

    to {
        left: 0.4rem;
    }
}

#btn-mobile {
    display: none;
}

main div:not(:first-child) {
    scroll-margin: 59px;
}

.presentation {
    padding-top: 20rem;
    margin-inline: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.presentation h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 150%;
    font-weight: 400;
    opacity: 0;
    animation: start-h2 0.7s 1s forwards ease-in-out;
    z-index: 2;
}

.presentation .initial-bar {
    display: block;
    width: 0%;
    height: 0.2rem;
    margin: 0.2rem 0;
    background-color: var(--text-color);
    animation: start-line 2.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 5;
}

.presentation h1 {
    text-transform: uppercase;
    font-size: 5.4rem;
    font-weight: 700;
    opacity: 0;
    animation: start-h1 1.5s forwards ease-in-out;
    z-index: 2;
}

.presentation span {
    text-transform: uppercase;
    font-size: 5.4rem;
    font-weight: 700;
    opacity: 0;
    z-index: 1;
    animation: start-h1-span 1.5s 0.2s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.presentation .ph-caret-down {
    margin-top: 20rem;
    font-size: 3.6rem;
    animation: floating 3s infinite ease-in-out;
}

@keyframes start-line {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
        width: 90%;
    }

    60% {
        transform: scaleX(1);
        width: 90%;
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes start-h2 {
    from {
        transform: translateY(40%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes start-h1 {
    0% {
        transform: translateY(-80%);
        opacity: 0;
    }

    60% {
        transform: translateY(-60%);
        opacity: 0;
    }

    80% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes start-h1-span {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    80% {
        opacity: 0;
        transform: translateY(-30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

#about {
    background: var(--bg-color-secondary);
    margin-top: 10rem;
    padding: 10rem;
    border-bottom: 1px solid;
    border-image: radial-gradient(var(--text-color), #00000000) 1;
    position: relative;
}

#about .about-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.6rem;
}

#about .about-content {
    display: flex;
    align-items: center;
    gap: 15rem;
}

#about .about-content p {
    margin-top: 4rem;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    max-width: 60rem;
    line-height: 170%;
}

#about .about-content img {
    width: 100%;
    height: 100%;
}

#skills {
    background-color: var(--bg-color);
    padding: 10rem;
    border-bottom: 1px solid;
    border-image: radial-gradient(var(--text-color), #00000000) 1;
}

#skills .skills-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.6rem;
}

#skills .skills-content {
    margin-top: 10rem;
    display: flex;
    gap: 32px;
    justify-content: space-around;
}

#skills .skills-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 250ms ease-in-out;
}

#skills .skills-content span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

#skills .skills-content img {
    width: 72px;
    height: 72px;
}

#skills .skills-content:has(div:hover) div:not(:hover) {
    filter: grayscale(70%);
}

#projects {
    background-color: var(--bg-color-secondary);
    padding: 10rem;
}

#projects .projects-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.grid {
    display: grid;
}

.projects-content {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5rem;
    gap: 2.4rem;
    place-items: center;
}

.projects-content .project-wrapper {
    width: 350px;
    height: 200px;
    position: relative;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    border-radius: 6px;
    box-shadow: 4px 5px 6px var(--box-shadow-color);
}

.projects-content .project-wrapper:hover {
    outline: 2px solid var(--text-contrast-color);
}

.projects-content .project-wrapper img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: filter 400ms ease-in-out;
    transition: transform 350ms ease-in-out;
}

.projects-content .project-wrapper:hover img {
    filter: blur(2px);
    transform: scale(1.2);
}

.projects-content .project-wrapper:hover a {
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 1;
    background-color: var(--text-contrast-color);
    padding: 10px 15px;
    border-radius: 999px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    animation: fromTop 350ms ease-in-out;
    z-index: 2;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.75);
}

.projects-content .project-wrapper:hover a:nth-of-type(1) {
    left: 20%;
}

.projects-content .project-wrapper:hover a:nth-of-type(2) {
    right: 20%;
}

@keyframes fromTop {
    from {
        transform: translateY(-300%);
    }
}

.projects-content .project-wrapper::after {
    content: var(--text);
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    display: block;
    position: absolute;
    bottom: 0;
    padding-left: 1rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75)) 100%;
    width: 100%;
    opacity: 0;
}

.projects-content .project-wrapper:hover::after {
    opacity: 1;
    animation: fromBottom 250ms ease-in-out;
}

@keyframes fromBottom {
    from {
        transform: translateY(100%);
    }
}

#contact {
    background-color: #7c7c7e;
    background-color: #1f1f20;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

#contact .social-links {
    display: flex;
    gap: 3.2rem;
    font-size: 2.8rem;
    align-items: center;
    justify-content: center;
}

#contact .social-links a {
    padding: 1rem;
    background-color: #333333;
    color: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in;
}

#contact .social-links a:hover {
    transform: translateY(-10%);
    scale: 1.1;
}

#contact .references {
    color: #c5c5c5;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#contact .references a {
    text-decoration: none;
    color: #ffffff;
}

#contact .page-details {
    color: #e0e0e0;
    font-size: 1.6rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

@media (max-width: 1215px) {
    :root {
        font-size: 50%;
    }

    .presentation h2,
    .presentation .initial-bar,
    .presentation h1,
    .presentation span {
        opacity: 1;
        animation: none;
    }

    #about .about-content img {
        width: 40%;
        height: 40%;
    }

    .projects-content {
        grid-template-columns: 1fr 1fr;
    }

    .projects-content .project-wrapper {
        width: 90%;
        height: 220px;
    }
}

@media (max-width: 930px) {
    :root {
        font-size: 45%;
    }

    header nav ul {
        display: block;
        position: absolute;
        width: 100%;
        top: 52px;
        left: 0;
        background-color: var(--bg-color);
        height: 0;
        z-index: 1000;
        transition: .4s;
        visibility: hidden;
        overflow: hidden;
    }

    header nav ul li {
        border-bottom: 1px solid;
        border-image: radial-gradient(var(--text-color), rgba(0, 0, 0, 0.048)) 1;
    }

    header nav ul li:hover {
        cursor: pointer;
        background-color: var(--bg-color-secondary);
    }

    header nav ul li a {
        display: flex;
        font-family: "Poppins", sans-serif;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 250%;
        padding-left: 5%;
        padding-block: 5rem;
    }

    header nav ul li a::after {
        display: none;
    }

    header nav ul.active {
        height: 100vh;
        visibility: visible;
    }

    .menu-hamburger {
        margin-left: 3rem;
    }

    #btn-mobile {
        display: flex;
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 1;
        opacity: 0;
    }

    #hamburger {
        display: block;
        width: 20px;
        border-top: 2px solid;
        position: relative;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    header nav ul.active ~ .menu-hamburger #hamburger {
        border-top-color: transparent;
    }

    header nav ul.active ~ .menu-hamburger #hamburger::before {
        transform: rotate(135deg);
    }

    header nav ul.active ~ .menu-hamburger #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    nav .nav-wrapper {
        margin-left: 5%;
    }

    #about {
        background: var(--bg-color-secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about .about-content {
        flex-direction: column;
        gap: 5rem;
    }
    
    #about .about-content img {
        width: 250px;
        height: 250px;
    }

    #skills {
        padding: 10rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #skills .skills-content {
        flex-wrap: wrap;
    }

    #skills .skills-content img {
        width: 60px;
        height: 60px;
    }

    #projects {
        padding: 10rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projects .projects-title {
        padding: 0 8rem;
    }

    .projects-content {
        grid-template-columns: 1fr;
        gap: 4.2rem;
    }

    .projects-content .project-wrapper {
        width: 80%;
        height: 250px;
    }
}